$green: #4CC35B;
$greenLight: rgba(76, 195, 91, 0.1);
$white: #fff;
$purple: #6E448E;
$black: #000;

$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;


$h1FontSizes: (
    null  : 21px,
    480px : 24px,
    640px : 28px,
    1024px: 32px
);

$h2FontSizes: (
    null  : 16px,
    480px : 18px,
    640px : 21px,
    1024px: 24px
);

$bodyFontSizes: (
    null  : 12px,
    480px : 14px,
    640px : 16px
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            font-size: $fs-font-size;
        }
        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}
